<app-navbar></app-navbar>
<body>
  <!-- <p>Dashboard</p> -->
  <div class="dashboard">
    <div class="column-posts">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
    <div class="column">
      <div></div>
      <p-card>
        <ng-template #title style="color: #f21414 !important"
          ><a href="/user/following">Following</a>
        </ng-template>
        <div class="following" *ngFor="let user of recentFollowing">
          <a
            [href]="'/user/' + user.username"
            style="text-decoration: none; color: #334155"
          >
            <div class="user-content">
              <p-avatar
                [label]="user.username.charAt(0).toUpperCase()"
                class="mr-2"
                size="large"
                shape="circle"
              />
              <div class="user-details">
                <p class="user-name">
                  {{ user.username }}
                </p>
                <p class="user-user">&#64;{{ user.username }}</p>
              </div>
            </div>
          </a>
          <span
            class="pi"
            [ngClass]="{
              'pi-check-circle': !followingMap[user.username],
              'pi-plus-circle': followingMap[user.username]
            }"
            (click)="toggleFollow(user.username)"
            style="cursor: pointer"
          ></span>
        </div>
        <ng-template #footer> See more... </ng-template></p-card
      >
    </div>
  </div>
</body>
