<app-navbar class="navbar"></app-navbar>

<div class="signup-container">
  <div class="left-section">
    <div class="content-wrapper">
      <section class="text-content">
        <h1 class="main-title">Sign up</h1>
        <h2 class="subtitle">to Concerto</h2>
        <p class="description">
          If you already have an account,<br />
          you can <a href="/login">login here</a>.
        </p>
      </section>
    </div>
  </div>

  <div class="right-section">
    <div class="signup-card">
      <h2>Sign up</h2>
      <form
        [formGroup]="signupForm"
        class="signup-form"
        (ngSubmit)="register()"
      >
        <div class="form-group field">
          <span class="p-input-icon-left">
            <p-floatlabel variant="in">
              <input
                pInputText
                id="email"
                type="email"
                name="email"
                formControlName="email"
              />
              <label for="in_label">Enter email</label>
            </p-floatlabel>
            <p-message
              severity="error"
              size="small"
              class="p-error block"
              *ngIf="
                signupForm.get('email')?.invalid &&
                signupForm.get('email')?.touched
              "
            >
              Please enter a valid email.
            </p-message>
          </span>
        </div>
        <div class="form-group field">
          <span class="p-input-icon-left">
            <p-floatlabel variant="in">
              <input
                pInputText
                id="username"
                type="text"
                name="username"
                formControlName="username"
              />
              <label for="in_label">Enter username</label>
            </p-floatlabel>
            <p-message
              severity="error"
              size="small"
              class="p-error block"
              *ngIf="
                signupForm.get('username')?.invalid &&
                signupForm.get('username')?.touched
              "
            >
              Please enter a username.
            </p-message>
          </span>
        </div>
        <div class="form-group field">
          <span class="p-input-icon-left">
            <p-floatlabel variant="in">
              <input
                pInputText
                id="password"
                type="password"
                name="password"
                formControlName="password"
              />
              <label for="in_label">Enter password</label>
            </p-floatlabel>
            <p-message
              class="p-error block"
              severity="error"
              size="small"
              *ngIf="
                signupForm.get('password')?.invalid &&
                signupForm.get('password')?.touched
              "
            >
              Please enter password with at least 6 characters
            </p-message>
          </span>
        </div>
        <div class="form-group field">
          <span class="p-input-icon-left">
            <p-floatlabel variant="in">
              <input
                pInputText
                id="confirmPassword"
                type="password"
                formControlName="confirmPassword"
              />
              <label for="in_label">Confirm password</label>
            </p-floatlabel>
            <p-message
              class="p-error block"
              severity="error"
              size="small"
              *ngIf="
                signupForm.get('confirmPassword')?.invalid &&
                signupForm.get('confirmPassword')?.touched
              "
            >
              Please enter matching password
            </p-message>
          </span>
        </div>
        <p-button
          type="Submit"
          label="Sign Up"
          class="p-button p-button-rounded signup-button"
          [disabled]="signupForm.invalid"
        ></p-button>
      </form>
    </div>
  </div>
</div>
