<div class="bg">
  <svg
    width="200"
    height="200"
    viewBox="0 0 218 219"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="red-circle"
  >
    <ellipse cx="109" cy="109.5" rx="109" ry="109.5" fill="#e0f2fe" />
  </svg>
  <div class="px-4 py-8 md:px-6 lg:px-8 text-left">
    <div class="mb-3 text-3xl">
      <span class="features">What Others Are Saying</span>
    </div>
    <div class="text-700 mb-6">
      Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.
      <br />Ac turpis egestas maecenas pharetra convallis posuere morbi leo
      urna.
    </div>
    <div class="grid">
      <div class="col-12 lg:col-4 mb-4 px-5">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">In need of a letterboxd app for concerts</p>
          &mdash; Natalie Maurer (&#64;nataliemaurer12)
          <a
            href="https://twitter.com/nataliemaurer12/status/1880267223107006841?ref_src=twsrc%5Etfw"
            >January 17, 2025</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <div class="tweet col-12 lg:col-4 mb-4 px-5">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">i need a letterboxd but for concerts fr</p>
          &mdash; monkey williams&#39; tether (&#64;jus2kaiju)
          <a
            href="https://twitter.com/jus2kaiju/status/1893922037522985303?ref_src=twsrc%5Etfw"
            >February 24, 2025</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
      <div class="tweet col-12 lg:col-4 mb-4 px-5">
        <blockquote class="twitter-tweet">
          <p lang="en" dir="ltr">
            need a letterboxd/goodreads for concerts so severely
          </p>
          &mdash; soapy (&#64;youresophake)
          <a
            href="https://twitter.com/youresophake/status/1793285116929692118?ref_src=twsrc%5Etfw"
            >May 22, 2024</a
          >
        </blockquote>
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>

    <svg
      width="650"
      height="537"
      viewBox="0 0 650 537"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="grey-blob"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M85.7123 1498.62C-99.6387 1511.08 -199.697 1212.94 -284.513 991.592C-346.27 830.419 -346.309 648.774 -306.236 475.721C-270.466 321.25 -187.973 205.289 -83.638 124.124C35.0077 31.8252 152.441 -18.1705 297.451 6.09348C464.689 34.0769 620.803 206.371 647.369 423.78C673.124 634.555 503.553 769.85 412.15 944.767C306.201 1147.52 270.108 1486.23 85.7123 1498.62Z"
        fill="#6D8188"
      />
    </svg>
  </div>
</div>
