<div class="cont">
  <div class="card">
    <p-menubar [model]="items">
      <ng-template #start>
        <div
          style="
            color: #f21414;
            font-size: 32px;
            font-family: Blogh Trial;
            font-weight: 400;
            line-height: 35.2px;
            word-wrap: break-word;
          "
        >
          concerto
        </div>
      </ng-template>
      <ng-template #end>
        <div class="buttons">
          <p-button routerLink="/login" label="Log In" class="log-in" />
          <!-- <a
            href="/"
            rel="noopener noreferrer"
            class="p-button p-button-rounded font-bold sign-up"
          >
            Sign Up
          </a> -->
          <p-button routerLink="/signup" label="Sign up" />
        </div>
      </ng-template>
    </p-menubar>
  </div>
</div>
