<div class="cont">
  <div class="card">
    <p-menubar [model]="items">
      <ng-template #start>
        <a href="/" class="icon"> concerto </a>
      </ng-template>
      <ng-template #end>
        <div class="flex items-center gap-2">
          <p-button
            *ngIf="!isLoggedIn"
            routerLink="/login"
            label="Log In"
            class="log-in"
            [link]="true"
          />
          <p-button
            *ngIf="!isLoggedIn"
            routerLink="/register"
            label="Sign up"
            class="p-button p-button-rounded p-0 register"
          />
          <input
            *ngIf="isLoggedIn"
            type="text"
            pInputText
            [(ngModel)]="query"
            placeholder="Search artists..."
            class="w-36"
            (keydown.enter)="onSearch()"
          />
          <p-menu #menu [model]="userItems" [popup]="true" />
          <p-avatar
            *ngIf="isLoggedIn"
            image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png"
            shape="circle"
            class="avatar"
            (click)="menu.toggle($event)"
          />
        </div>
      </ng-template>
    </p-menubar>
  </div>
</div>
