.icon {
  color: #f21414;
  font-size: 32px;
  font-family: Blogh Trial;
  font-weight: 400;
  line-height: 35.2px;
  word-wrap: break-word;
  text-decoration: none;
}

.cont {
  align-self: stretch;
}

.sign-up {
  color: #78350f;
  font-size: 0.875rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.031rem;
  word-wrap: break-word;
  background-color: #fcd34d;
  border: 0.125rem #fcd34d solid;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  box-shadow: 0rem 0rem 0.125rem rgba(0, 0, 0, 0.07);
}

.buttons {
  display: flex;
  gap: 2rem;
}

/*
.sign-up:hover {
  background-color: #fcd34d;
  background: #fcd34d;
  border: 0px;
  text-decoration: none;
}
*/
