<div class="cont">
  <div class="card">
    <p-menubar [model]="items">
      <ng-template #start>
        <a href="/" class="icon"> concerto </a>
      </ng-template>
      <ng-template #end>
        <div class="buttons">
          <p-button
            *ngIf="!isLoggedIn"
            routerLink="/login"
            label="Log In"
            class="log-in"
            [link]="true"
          />
          <p-button
            *ngIf="!isLoggedIn"
            routerLink="/register"
            label="Sign up"
            class="p-button p-button-rounded p-0 register"
          />

          <p-button
            *ngIf="isLoggedIn"
            routerLink="/"
            label="Log Out"
            class="p-button p-button-rounded p-0"
            (onClick)="logout()"
          />

          <p-avatar
            *ngIf="isLoggedIn"
            image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png"
            shape="circle"
            class="avatar"
          />
        </div>
      </ng-template>
    </p-menubar>
  </div>
</div>
