<div class="discover">
  <div class="discover-child"></div>
  <div class="discover-path"></div>
  <div class="section-text">
    <div class="top">
      <b class="caption">Discover</b>
      <div class="secondary-headline">All the tools you can imagine</div>
    </div>
    <div class="paragraph">
      Scelerisque auctor dolor diam tortor, fames faucibus non interdum nunc.
      Ultrices nibh sapien elit gravida ac, rutrum molestie adipiscing lacinia.
    </div>
  </div>
  <!-- <div class="col">
    <div class="section-text1">
      <div class="top">
        <b class="caption">Discover</b>
        <div class="secondary-headline1">All the tools you can imagine</div>
      </div>
      <div class="paragraph1">
        Scelerisque auctor dolor diam tortor, fames faucibus non interdum nunc.
        Ultrices nibh sapien elit gravida ac, rutrum molestie adipiscing
        lacinia.
      </div>
    </div>
  </div> -->
  <div class="screendesktop">
    <div class="top-bar">
      <div class="circles">
        <svg
          width="10"
          height="11"
          viewBox="0 0 10 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-jam-icons-filled-ci"
        >
          <path
            d="M5 9.69369C2.69875 9.69369 0.833328 7.82827 0.833328 5.52702C0.833328 3.22577 2.69875 1.36035 5 1.36035C7.30125 1.36035 9.16666 3.22577 9.16666 5.52702C9.16666 7.82827 7.30125 9.69369 5 9.69369Z"
            fill="#E11D48"
            src="icon / jam-icons / filled / circle-f.svg"
          />
        </svg>
        <svg
          width="10"
          height="11"
          viewBox="0 0 10 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-jam-icons-filled-ci"
        >
          <path
            d="M5 9.69369C2.69875 9.69369 0.833328 7.82827 0.833328 5.52702C0.833328 3.22577 2.69875 1.36035 5 1.36035C7.30125 1.36035 9.16666 3.22577 9.16666 5.52702C9.16666 7.82827 7.30125 9.69369 5 9.69369Z"
            fill="#FBBF24"
          />
        </svg>
        <svg
          width="10"
          height="11"
          viewBox="0 0 10 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="icon-jam-icons-filled-ci"
        >
          <path
            d="M5 9.69369C2.69875 9.69369 0.833328 7.82827 0.833328 5.52702C0.833328 3.22577 2.69875 1.36035 5 1.36035C7.30125 1.36035 9.16666 3.22577 9.16666 5.52702C9.16666 7.82827 7.30125 9.69369 5 9.69369Z"
            fill="#22C55E"
          />
        </svg>
      </div>
    </div>
    <svg
      width="1193"
      height="215"
      viewBox="0 0 1193 215"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="circles-icon1"
    >
      <circle cx="1119" cy="141" r="74" fill="#01BCD2" />
      <path
        d="M89 44.5C89 50.3438 87.849 56.1304 85.6126 61.5294C83.3763 66.9284 80.0985 71.834 75.9662 75.9663C71.834 80.0985 66.9284 83.3763 61.5294 85.6126C56.1304 87.849 50.3438 89 44.5 89C38.6562 89 32.8696 87.849 27.4706 85.6126C22.0716 83.3763 17.166 80.0985 13.0337 75.9662C8.90154 71.834 5.62369 66.9284 3.38736 61.5294C1.15103 56.1304 -5.10883e-07 50.3438 0 44.5L44.5 44.5H89Z"
        fill="#F21414"
      />
    </svg>
  </div>
</div>
