.discover {
  width: 100%;
  margin: 0;
  height: 90vh;
  position: relative;
  background-color: #f21414;
  text-align: left;
  font-size: 1.25rem;
  color: #fff;
  font-family: Roboto;
  overflow: hidden;
}
.discover-child {
  position: relative;
  justify-self: center;
  border-radius: 50%;
  background-color: #01bcd2;
  width: 85%;
  height: 100%;
  clip-path: ellipse(83% 100%);
}

.section-text {
  position: absolute;
  top: 11rem;
  left: 6rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.top {
  /* align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px; */
  /* z-index: 2; */
}
.caption {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.1875rem;
  line-height: 100%;
  text-transform: uppercase;
  z-index: 2;
}

.secondary-headline {
  align-self: stretch;
  position: relative;
  font-size: 3.5rem;
  line-height: 110%;
  font-family: "Blogh Trial";
  font-weight: 100;
  letter-spacing: 0.125rem;
}

.paragraph {
  align-self: stretch;
  position: relative;
  font-size: 1.125rem;
  line-height: 160%;
}

.secondary-headline1 {
  align-self: stretch;
  position: relative;
  font-size: 3.5rem;
  line-height: 110%;
  font-family: "Blogh Trial";
  color: #000;
}
.paragraph1 {
  align-self: stretch;
  position: relative;
  font-size: 1.125rem;
  line-height: 160%;
  color: #000;
}
.section-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.col {
  position: absolute;
  top: 10.5rem;
  left: 4.5rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.icon-jam-icons-filled-ci {
  width: 0.625rem;
  position: relative;
  height: 0.625rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.circles {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3125rem;
  z-index: 3;
}
.top-bar {
  align-self: stretch;
  height: 2.5625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  z-index: 3;
}
.desktop-app-placeholder-1-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.screendesktop {
  position: absolute;
  top: 5rem;
  left: 38.125rem;
  box-shadow: 0rem 1.25rem 1.5625rem -0.3125rem rgba(0, 0, 0, 0.1),
    0rem 0rem 0.625rem rgba(0, 0, 0, 0.07);
  border-radius: 1.25rem;
  background-color: #fff;
  width: 46.875rem;
  height: 30rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
}
