* {
  font-family: "Poppins";
}
.login-container {
  background-color: #f3f0e6;
  height: calc(100vh - 3.75rem);
  display: flex;
  width: 100%;
}

.left-section {
  width: 50%;
  background-image: url("../../../../public/imgs/sign-in-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;

  background-position-x: -3.125rem;
  background-position-y: -3.125rem;
}

.content-wrapper {
  position: relative;
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.text-content {
  color: #fff;
  position: relative;
  z-index: 1;
}

.main-title {
  font-size: 6rem;
  margin: 0;
  font-family: Blogh Trial;
  color: black;
  font-weight: 100;
}

.subtitle {
  font-size: 2.5rem;
  /* letter-spacing: 0.125rem; */
  margin-top: -1rem;
  color: black;
}

.description {
  font-size: 1.5rem;
}

.description a {
  color: #dd1e1e;
  text-decoration: none;
  font-weight: 700;
}

.right-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #f3f0e6;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 25rem;
}

.login-card h2 {
  margin-bottom: 2rem;
  color: #333;
  font-weight: 600;
}

.forgot-password {
  display: flex;
  justify-content: end;
}

.forgot-password a {
  margin-top: -1rem;
  color: #8a8a8a;
}

.login-card a {
  margin-bottom: 2rem;
  align-items: flex-end;
  text-decoration: none;
}

.form-group {
  margin-bottom: 1.7rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4b5563;
  font-weight: 500;
}

.form-group input {
  background-color: #f4f4f4;
  box-shadow: 0rem 0rem 0.5rem 0rem #b4b4b4;
}

/* PrimeNG Input styling */
.p-input-icon-left {
  width: 100%;
}

.p-input-icon-left i {
  color: #6b7280;
}

:host ::ng-deep .p-inputtext {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
}

/* PrimeNG Button styling */
:host ::ng-deep .login-button {
  width: 100%;
}

:host ::ng-deep .login-button .p-button {
  width: 100%;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  border-color: #d3d3d3;
}

/* Make the form full width */
.login-form {
  width: 100%;
}
