<p-card *ngIf="post.type === 'review' || post.type === 'ATTENDED'">
  <ng-template #title class="template">
    <div class="head">
      <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
      <a [href]="'/user/' + post.username">{{ getDisplayUsername() }}</a> reviewed:
    </div>
    <div class="date">{{ post.postDate | timeAgo }}</div>
  </ng-template>
  <div class="card-body">
    <div class="review">
      <div class="concert">
        <img
          src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small_2x/default-avatar-icon-of-social-media-user-vector.jpg"
        />
        <div class="concert-text">
          <div class="date-name">
            <a [href]="'/concert/' + post.id"><span class="tour-name">{{ post.tour }}</span></a>
            <span class="tour-date">{{ post.date | friendlyDate }}</span>
          </div>
          <a [href]="'/artist/' + post.artist"
            ><span class="tour-artist">{{ post.artist }}</span></a
          >
          <span class="tour-venue">{{ post.venue }}, {{ post.city }} </span>
          <div class="rating">
            <span class="rating-number">{{ post.rating }} </span>
            <span
              *ngFor="let star of getStars(post.rating || 0)"
              class="pi pi-star-fill"
            ></span>
          </div>
        </div>
      </div>
      <p>
        {{ post.reviewText }}
      </p>
    </div>
    <div class="footer">
      <span class="pi pi-comments" style="font-size: 1.5rem"></span>
      <p *ngIf="post.comments > 0">x{{ post.comments }}</p>
      <span
        [ngClass]="{ 'pi pi-heart-fill': isLiked, 'pi pi-heart': !isLiked }"
        (click)="toggleLike()"
        style="font-size: 1.5rem"
      ></span>
      <p *ngIf="post.likes > 0">x{{ post.likes }}</p>

      <span class="pi pi-upload" style="font-size: 1.5rem"> </span>
    </div>
  </div>
</p-card>

<p-card *ngIf="post.type === 'wishlist' || post.type === 'WISHLIST'">
  <ng-template #title>
    <div class="head">
      <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
      <a href="/user/">{{ getDisplayUsername() }}</a> wants to attend:
    </div>
    <div class="date">{{ post.postDate | timeAgo }}</div>
  </ng-template>
  <div></div>
  <div class="card-body">
    <div class="concert">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small_2x/default-avatar-icon-of-social-media-user-vector.jpg"
      />
      <div class="concert-text">
        <div class="date-name">
          <span class="tour-name">{{ post.tour }}</span>
          <span class="tour-date">{{ post.date | friendlyDate }}</span>
        </div>
        <a [href]="'/artist/' + post.artist">
          <span class="tour-artist">{{ post.artist }}</span></a
        >
        <span class="tour-venue">{{ post.venue }}, {{ post.city }} </span>
      </div>
    </div>
    <div class="footer">
      <span class="pi pi-comments" style="font-size: 1.5rem"></span>
      <p *ngIf="post.comments > 0">x{{ post.comments }}</p>
      <span
        [ngClass]="{ 'pi pi-heart-fill': isLiked, 'pi pi-heart': !isLiked }"
        (click)="toggleLike()"
        style="font-size: 1.5rem"
      ></span>
      <p *ngIf="post.likes > 0">x{{ post.likes }}</p>
      <span class="pi pi-upload" style="font-size: 1.5rem"> </span>
    </div>
  </div>
</p-card>
