<app-navbar></app-navbar>
<p-progressSpinner
  *ngIf="loading"
  styleClass="custom-spinner"
></p-progressSpinner>
<body *ngIf="!loading">
  <p-card class="header">
    <div class="content">
      <div class="details">
        <img
          class="header-img"
          [src]="
            concert.img ||
            'https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small_2x/default-avatar-icon-of-social-media-user-vector.jpg'
          "
        />
        <div class="date-frame">
          {{ (concert.date | friendlyDate).split(" ")[0] }}
          <div class="day-box">
            {{ (concert.date | friendlyDate).split(" ")[1].replace(",", "") }}
          </div>
          {{ (concert.date | friendlyDate).split(" ")[2] }}
        </div>
        <div>
          <a class="header-artist" [routerLink]="['/artist/', concert.artist]">
            {{ concert.artist }}</a
          >
          <div class="header-tour">{{ concert.tour }}</div>
          <div class="header-venue">
            {{ concert.venue }}, {{ concert.city }}
          </div>
        </div>
      </div>
      <div class="stats">
        <!-- <div class="log-button-wrapper"> -->
        <p-button
          class="mark-attended"
          label="Mark as Attended"
          icon="pi pi-plus-circle"
          (click)="openModal()"
        ></p-button>
        <p-dialog
          header="Log Concert"
          [(visible)]="showModal"
          [modal]="true"
          [style]="{ width: '30vw' }"
        >
          <div class="flex flex-column gap-3">
            <label for="concertText" style="font-size: medium">Review</label>
            <textarea
              id="concertText"
              pInputTextarea
              [(ngModel)]="reviewText"
              rows="5"
              cols="30"
            ></textarea>

            <div class="flex align-items-center gap-2">
              <p-toggleButton
                [(ngModel)]="type"
                onLabel="Attended"
                offLabel="Wishlist"
              ></p-toggleButton>
            </div>

            <div class="flex align-items-center gap-2">
              <label for="rating" style="font-size: medium">Rating</label>
              <p-rating
                [(ngModel)]="rating"
                [disabled]="type === false"
              ></p-rating>
            </div>

            <div class="flex align-items-center gap-2">
              <p-checkbox
                [(ngModel)]="isPublic"
                inputId="isPublic"
                binary="true"
              ></p-checkbox>
              <label for="isPublic" style="font-size: medium"
                >Make this post public</label
              >
            </div>
          </div>

          <ng-template pTemplate="footer">
            <p-button
              label="Submit"
              icon="pi pi-check"
              (click)="submitPost()"
            ></p-button>
            <p-button
              label="Cancel"
              icon="pi pi-times"
              severity="secondary"
              (click)="showModal = false"
            ></p-button>
          </ng-template>
        </p-dialog>
        <!-- </div> -->
      </div>
    </div>
  </p-card>
  <div class="grid">
    <div class="left">
      <p-card class="setlist">
        <ng-template #title> Setlist </ng-template>
        <ol>
          <div class="setlistItem" *ngFor="let song of concert.setlist">
            <span *ngIf="song.tape" style="color: gray" class="tape">
              <span *ngIf="song.info" class="songInfo"
                >`({{ song.info }})`</span
              >
              <span *ngIf="song.tape" class="pi-headphones"></span><br />
              <p>{{ song.name }}</p>
            </span>
            <span *ngIf="!song.tape">
              <li>
                <p>{{ song.name }}</p>
                <p style="color: gray" *ngIf="song.info" class="songInfo">
                  ({{ song.info }})
                </p>
                <p style="color: gray" *ngIf="song.cover" class="songInfo">
                  ({{ song.cover.name }} cover)
                </p>
              </li>
            </span>
          </div>
        </ol>
      </p-card>
      <p-card class="recent">
        <ng-template #title> Recent Activity </ng-template>
        <p-timeline [value]="posts" class="w-full md:w-80">
          <ng-template #content let-post>
            <span *ngIf="post.type === 'review' && post.reviewText === null">
              <a href="/user-profile">{{ post.username }}</a> rated
              <a href="/artists">{{ post.artist }}</a
              >'s {{ post.tour }} {{ post.rating }} stars out of 5
            </span>
            <span *ngIf="post.type === 'review' && post.reviewText !== null">
              <a href="/user-profile">{{ post.username }}</a> rated and reviewed
              <a href="/artists">{{ post.artist }}</a
              >'s
              {{ post.tour }}
              {{ post.rating }} stars out of 5
            </span>
            <span *ngIf="post.type === 'wishlist'">
              <a href="/user-profile">{{ post.username }}</a> wants to attend
              <a href="/artists">{{ post.artist }}</a
              >'s
              {{ post.tour }}
            </span>
          </ng-template>
        </p-timeline>
      </p-card>
    </div>
    <div class="right">
      <p-card class="spotify">
        <ng-template #title> Spotify Playlist </ng-template>
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/3Otg0hc0Mv8EGHF3ZuC2d4?utm_source=generator&theme=0"
          width="100%"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </p-card>
      <p-card class="attended">
        <ng-template #title> Attended by </ng-template>
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          size="normal"
          class="av-attended"
          shape="circle"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          size="normal"
          shape="circle"
          class="av-attended"
        />
        <ng-template #footer> <a href="/">See more...</a> </ng-template>
      </p-card>
      <p-card class="other">
        <ng-template #title> Other Shows </ng-template>
        <p class="p-other">2025 Shows</p>
        <p-avatar-group>
          <p-avatar image="{{ concert.img }}" class="av-others" size="xlarge" />
          <p-avatar image="{{ concert.img }}" class="av-others" size="xlarge" />
          <p-avatar image="{{ concert.img }}" class="av-others" size="xlarge" />
          <p-avatar image="{{ concert.img }}" class="av-others" size="xlarge" />
          <p-avatar label="+2" size="xlarge" class="av-others" />
        </p-avatar-group>
        <br />
        <p class="p-other">Festivals</p>
        <p-avatar-group>
          <p-avatar
            image="https://www.party-accessory.eu/wp-content/uploads/lollapalooza-argentina-2025.jpg"
            class="av-others"
            size="xlarge"
          />
          <p-avatar
            image="https://www.party-accessory.eu/wp-content/uploads/lollapalooza-argentina-2025.jpg"
            class="av-others"
            size="xlarge"
          />
          <p-avatar
            image="https://www.party-accessory.eu/wp-content/uploads/lollapalooza-argentina-2025.jpg"
            class="av-others"
            size="xlarge"
          />
          <p-avatar
            image="https://www.party-accessory.eu/wp-content/uploads/lollapalooza-argentina-2025.jpg"
            class="av-others"
            size="xlarge"
          />

          <p-avatar label="+2" size="xlarge" class="av-others" />
        </p-avatar-group>
        <br />
        <ng-template #footer> <a href="/">See more lists...</a> </ng-template>
      </p-card>
    </div>
  </div>
</body>
