body {
  position: relative;
  background-color: #f3f0e6;
  width: 100%;
  /*height: */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: left;
  font-size: 1.25rem;
  font-family: "Roboto";
  margin: 0;
  line-height: normal;
  background: #f3f0e6;
}

.navbar {
  align-self: stretch;
  box-shadow: 0rem 0.3125rem 1.375rem -1.1875rem rgba(0, 0, 0, 0.63);
  border: none;
  /*top: "0px";
  position: "sticky";
  z-index: "99999";
  background: "black";
  */
}
.component {
  width: 100%;
  height: 100%;
  position: relative;
}
